<h1>Welcome to VinCat, <%= @user.name %></h1>
  <p>
    You have successfully signed in to VinCat,
    your username is: <%= @user.usermane %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>